.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.svg-icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.svg-icon-folder-code {
  width: 1.0458984375em;
}

.svg-icon-optimize {
  width: 0.978515625em;
}

.svg-icon-parental {
  width: 1.095703125em;
}

.svg-icon-prototype {
  width: 1.0458984375em;
}

.svg-icon-research {
  width: 1.0634765625em;
}

.svg-icon-wireframe {
  width: 1.0224609375em;
}
