
<div class="client-modal modal fade" id="DictionaryModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title">
          <div class="sec-subheading">OUR<br/>CUSTOMERS</div>
          <div class="sec-heading">Dictionary.com</div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 client-description">
            <h4>With 2,000,000+ trusted definitions and synonyms, 100+ million app downloads, Dictionary.com has spread the logophile-spirits to millions of mobile users world wide, affirming its position as the leading free English dictionary app for iPhone and Android.</h4><span class="client-service">
              <h4>Service: </h4>IOS, Android, UX/UI Design, Prototypes, User Testing</span>
            <div class="stats">
              <div class="stat-col">
                <div class="num">10%</div>
                <div class="desc">Increase in 1-week<br>retention</div>
              </div>
              <div class="stat-col">
                <div class="num">5%</div>
                <div class="desc">Increase in<br>page view</div>
              </div>
              <div class="stat-col">
                <div class="num">100M</div>
                <div class="desc">Download</div>
              </div>
              <div class="stat-col">
                <div class="num">4.5<span class="icon-star"></span></div>
                <div class="desc">Reviews on <br>App Store</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 client-image"><img src="img/dcom-customer.png" srcset="img/dcom-customer@2x.png 2x"/></div>
        </div>
        <div class="view-detail"><a class="btn btn-arrow-down sm" href="dcom.html">View Case Study<span class="arr"><span class="icon-arrow-right"></span></span></a></div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>